<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <h1>'Sup dudes</h1> 

{# déclaration d'une variable #}
            {% set michel = 42 %}
            {{ michel }}

            {% set jello = -10 %}
            {{jello | abs}}

{# arrondi au supérieur #}
            {{42.234 | round(1, 'ceil')}} 
{# arrondi inférieur #}
            {{42.234 | round(1, 'floor')}}
{# arrondi ... #}
            {{42.234 | round(1, 'common')}}

            {{'élément' | capitalize}}
            {{'élément chimique'| title}} 

            {{max(1, 5, 22)}}
            {{min(1, 5, 22)}}


{# pour retourner un pourcentage(si ça veut bien marcher!!!!) #}
            {# {{'0.35415879' | format_number({rounding_mode: 'floor', fraction_digit: 2}, style='percent')}} #}

{# if, elseif, else #}

            {# {% if user.inscritpion %}
                Inscrit
            {% elseif user.registered %}
                Registered
            {% else %}
                    Ni l'un ni l'autre
            {% endif %} #}

{# ajout de condition si, et, ou #}
            {# {% if not user.inscritpion %}
                Inscrit
            {% elseif user.registered ot user.mail %}
                Registered
            {% else %}
                    Ni l'un ni l'autre
            {% endif %} #}

            {# {% if husers %}
                <ul>
                    {% for huser in husers %}
                        <li>{{huser.husername}}</li>
                    {% endfor %}
                </ul>
            {% endif %} #}

            {# {% if continents %}
                <select>
                    {% for continent in continents %}
                        <option value="">{{continent.continentname}}</option>
                    {% endfor %}
                </select>
            {% endif %} #}

        {% block body %}{% endblock %}
    </body>
</html>
